name: Clinic Automated Testing

# Когда запускать? При пуше в ветку master

on:

  push:

    branches: [ "main" ]

  pull_request:

    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup .NET
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: 5.0.x  # или 8.0.x, в зависимости от вашей конфигурации
      - name: Install libssl
        run: sudo apt-get update && sudo apt-get install -y libssl-dev
      - name: Restore dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --no-restore
      - name: Test
        run: dotnet test --no-build --verbosity normal
